<div class="property">
  <img
    width="200"
    height="150"
    title="Foto de uma sala por Kara Eads"
    alt="Foto de uma sala por Kara Eads"
    src="assets/images/placeholder_house.jpg"
    *ngIf="property.images.length === 0"
  />
  <img
    width="200"
    height="150"
    alt="Foto de uma casa"
    [src]="property.images[0]"
    *ngIf="property.images.length >= 1"
  />
  <div class="property__details">
    <h2 class="property__title">{{ property.title }}</h2>
    <p>{{ property.description }}</p>
    <p *ngIf="property.announceType === 'sale'">
      R$ {{ property.price | priceFormatter }}
    </p>
    <p *ngIf="property.announceType === 'rent'">
      R$ {{ property.price | priceFormatter }} / Mês
    </p>
  </div>

  <div class="property__buttons">
    <app-favorite [property]="property"></app-favorite>
    <button
      class="property__page-btn"
      [routerLink]="['/properties', property._id]"
    >
      Ver detalhes
    </button>
  </div>
</div>
