.property {
  display: flex;
  gap: 16px;
  border: 2px solid #dfd9d9;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  background-color: var(--bg-secondary);
}

.property__img {
  width: 350px;
  height: 250px;
  flex-shrink: 0;
}

.property__details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.property__details > *:last-child {
  margin-top: auto;
}

.property__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.property__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.icon-group {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #777676;
}

.property__location {
  color: #777676;
  font-size: 1.2rem;
  margin: 0;
}

.property__description {
  color: #777676;
}

.property__price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.property__price--month {
  font-weight: initial;
  font-size: 0.9rem;
}

.property__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-right: 12px;
  margin-left: auto;
  flex-shrink: 0;
}

.property__page-btn {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  padding: 12px;
  color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.property__page-btn:focus,
.property__page-btn:hover,
.property__page-btn:active {
  background-color: var(--color-primary);
  color: white;
}

@media only screen and (max-width: 768px) {
  .property {
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 12px;
    width: 90vw;
    min-height: 400px;
  }

  .property__img {
    width: 90%;
    height: auto;
  }

  .property__details {
    flex-wrap: wrap;
    text-align: center;
    gap: 12px;
    white-space: pre-wrap;
  }

  .property__description {
    display: none;
  }

  .property__icons {
    justify-content: center;
  }

  .property__buttons {
    gap: 12px;
    padding: 4px;
    margin-left: 0;
  }
}
