.property {
  display: flex;
  gap: 24px;
  border: 2px solid #dfd9d9;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  background-color: var(--bg-secondary);
}

.property__img {
  width: 300px;
  height: 200px;
}

.property__details {
  display: flex;
  flex-direction: column;
}

.property__title {
  margin-top: 0;
  margin-bottom: 4px;
}

.property__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.icon-group {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #777676;
}

.property__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  margin-left: auto;
}

.property__page-btn {
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  padding: 12px;
  color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.property__page-btn:focus,
.property__page-btn:hover,
.property__page-btn:active {
  background-color: var(--color-primary);
  color: white;
}

@media only screen and (max-width: 768px) {
  .property {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 4px;
    width: 200px;
    min-height: 400px;
  }

  .property__img {
    width: 150px;
    height: 100px;
  }

  .property__details {
    text-align: center;
  }

  .property__icons {
    justify-content: center;
  }

  .property__buttons {
    gap: 0;
    padding: 4px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .property {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 12px;
    width: 90vw;
    min-height: 400px;
  }

  .property__img {
    width: 150px;
    height: 100px;
  }

  .property__details {
    text-align: center;
  }

  .property__buttons {
    gap: 12px;
    padding: 4px;
    margin-left: 0;
  }
}
