.footer {
  display: flex;
  gap: 64px;
  background-color: var(--bg-tertiary);
  padding: 24px;
  color: var(--font-secondary);
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__column:last-child {
  margin-left: auto;
}

.footer__brand {
  text-decoration: none;
  cursor: pointer;
}

.footer__brand:focus,
.footer__brand:hover,
.footer__brand:active {
  color: var(--color-primary);
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__link::after {
  display: block;
  content: "";
  height: 5px;
  width: 0px;
  background-color: var(--font-secondary);
  transition: width 200ms ease-in-out;
}

.footer__link:hover::after {
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }

  .footer__column:last-child {
    margin-left: 0;
  }
}
