<div class="container">
  <section class="history">
    <div>
      <span class="history__tag">Nossa história</span>
      <h1 class="history__header">Conectando pessoas com seus novos lares</h1>
    </div>
    <p class="paragraph">
      A imobiliária Lyen começou em 2008, no centro do Rio de Janeiro. Ela
      rapidamente se tornou uma das mais procuradas do estado, principalmente
      por conta do seu investimento em qualidade e tecnologias inovadoras.
    </p>
  </section>

  <img src="assets/images/xrdes-PHgbWpst8UA-unsplash.jpg" />

  <section class="achievements">
    <h1 class="achievements__header">Nossas conquistas</h1>
    <div class="achievement">
      <p>Mais de</p>
      <h2>8992</h2>
      <p>imóveis alugados</p>
    </div>
    <div class="achievement">
      <p>Mais de</p>
      <h2>4002</h2>
      <p>imóveis vendidos</p>
    </div>
    <div class="achievement">
      <p>Disponível em</p>
      <h2>{{ totalCities }}</h2>
      <p>cidades</p>
    </div>
  </section>

  <section class="team">
    <img
      class="team__img"
      src="assets/images/mimi-thian--VHQ0cw2euA-unsplash.jpg"
    />
    <div class="team__info">
      <h2 class="team__header">Nosso time</h2>
      <p class="paragraph">
        Contamos com um time de 300 funcionários, buscando proporcionar a melhor
        experiência tanto para quem quer anunciar um imóvel, quanto quem está em
        busca de uma casa.
      </p>
    </div>
  </section>
</div>
