.form {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  width: 60vw;
  height: 80vh;
  z-index: 1;
  border: 4px solid #e6e6e6;
  background-color: var(--bg-secondary);
  overflow-y: scroll;
}

.form__header {
  display: flex;
  gap: 12px;
  padding: 12px;
  background-color: var(--bg-primary);
}

.form__body {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 12px 24px;
}

.form__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.form__section-header {
  margin-bottom: 0;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.form__section > div {
  width: 45%;
}

.section-divisor {
  border: 1px solid #dfd9d9;
  width: 100%;
}

.form__toggle:focus,
.form__toggle:hover,
.form__toggle:active {
  opacity: 0.7;
}

.form__label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
}

.form__control-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: fit-content;
  background-color: white;
  color: #6e5e64;
  border: 1px solid rgb(160, 157, 157);
}

.form__control {
  width: 120px;
  position: relative;
  top: 1px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.form__control:focus {
  outline: none;
}

.form__select {
  width: fit-content;
  border: 1px solid rgb(160, 157, 157);
  padding: 4px;
}

.form__select--small {
  width: 48px;
}

.form__select--mid {
  width: 94px;
}

.form__select--big {
  width: 128px;
}

.form__submit-btn {
  margin-top: 12px;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: transparent;
  border-radius: 4px;
  width: fit-content;
  font-size: 1rem;
  padding: 8px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.form__submit-btn:focus,
.form__submit-btn:hover,
.form__submit-btn:active {
  background-color: var(--color-secondary);
  color: var(--bg-primary);
}

.form__close-btn {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  flex-shrink: 0;
  color: var(--font-primary);
  background-color: transparent;
  transition: background-color 800ms ease;
}

.form__close-btn:focus,
.form__close-btn:hover,
.form__close-btn:active {
  background-color: #d6d5d5;
}

@media only screen and (max-width: 768px) {
  .form {
    width: 75vw;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90vw;
  }

  .form__section {
    flex-direction: column;
  }
}
