<button class="form__toggle" (click)="onToggleFilters()">
  <img
    width="40"
    height="auto"
    src="assets/icons/iconmonstr-filter.png"
  />Filtros
</button>

<form
  class="form"
  [formGroup]="filtersForm"
  (ngSubmit)="onSubmit()"
  *ngIf="showFilters"
>
  <div class="form__header">
    <button class="form__close-btn" type="button" (click)="onToggleFilters()">
      &times;
    </button>
    <h3>Filtros</h3>
  </div>

  <div class="form__body">
    <label class="form__label" for="announceType">Tipo de Anúncio</label>
    <select
      class="form__select form__select--mid"
      name="announceType"
      formControlName="announceType"
    >
      <option value="sale">Venda</option>
      <option value="rent">Aluguel</option>
    </select>

    <label class="form__label" for="state">Estado</label>
    <select
      class="form__select form__select--big"
      name="state"
      formControlName="state"
      (change)="onUpdateCities()"
    >
      <option value="">Todos</option>
      <option [value]="state" *ngFor="let state of states">{{ state }}</option>
    </select>

    <label class="form__label" for="state">Cidade</label>
    <select
      class="form__select form__select--big"
      name="state"
      formControlName="city"
    >
      <option value="">Todas</option>
      <option [value]="city" *ngFor="let city of cities">{{ city }}</option>
    </select>

    <label class="form__label" for="minPrice">Preço Mínimo</label>
    <div class="form__control-container">
      <span>R$</span>
      <input
        class="form__control"
        name="minPrice"
        type="number"
        formControlName="minPrice"
        [value]="filtersForm.value.minPrice"
      />
    </div>

    <input
      name="minPrice"
      type="range"
      formControlName="minPrice"
      min="100"
      max="10000000"
      [value]="filtersForm.value.minPrice"
    />

    <label class="form__label" for="maxPrice">Preço Máximo</label>
    <div class="form__control-container">
      <span>R$</span>
      <input
        class="form__control"
        name="maxPrice"
        type="number"
        formControlName="maxPrice"
        [value]="filtersForm.value.maxPrice"
      />
    </div>
    <input
      name="maxPrice"
      type="range"
      formControlName="maxPrice"
      min="100"
      max="10000000"
      [value]="filtersForm.value.maxPrice"
    />

    <label class="form__label" for="numberBedrooms">Quartos</label>
    <select
      class="form__select form__select--small"
      formControlName="numberBedrooms"
    >
      <option *ngFor="let number of [1, 2, 3, 4, 5]" [value]="number">
        {{ number }}+
      </option>
    </select>

    <label class="form__label" for="numberBathrooms">Banheiros</label>
    <select
      class="form__select form__select--small"
      formControlName="numberBathrooms"
    >
      <option *ngFor="let number of [1, 2, 3, 4, 5]" [value]="number">
        {{ number }}+
      </option>
    </select>

    <label class="form__label" for="petAllowed">Pets Permitidos</label>
    <select class="form__select form__select--mid" formControlName="petAllowed">
      <option value="">Tanto Faz</option>
      <option value="true">Sim</option>
      <option value="false">Não</option>
    </select>

    <label class="form__label" for="hasGarage">Possui Garagem</label>
    <select class="form__select form__select--mid" formControlName="hasGarage">
      <option value="">Tanto Faz</option>
      <option value="true">Sim</option>
      <option value="false">Não</option>
    </select>

    <button class="form__submit-btn">Aplicar Filtros</button>
  </div>
</form>
