<nav class="navbar">
  <button class="navbar__toggle" (click)="onToggleNavbar()">
    <img src="assets/icons/iconmonstr-menu.svg" alt="Ícone de um botão de menu de celular"/>
  </button>
  <div class="container" [ngClass]="{ collapsed: isNavbarCollapsed }">
    <h4>
      <a class="navbar__brand" [routerLink]="['/home']">Lyen Imóveis</a>
    </h4>
    <ul class="navbar__nav">
      <li>
        <a
          class="navbar__link"
          routerLinkActive="active"
          [routerLink]="['/home']"
          >Início</a
        >
      </li>
      <li>
        <a
          class="navbar__link"
          routerLinkActive="active"
          [routerLink]="['/properties', 'search']"
          >Buscar Imóveis</a
        >
      </li>
      <li>
        <a
          class="navbar__link"
          routerLinkActive="active"
          [routerLink]="['/user', 'favorites']"
          *ngIf="isLoggedIn"
          >Favoritados</a
        >
      </li>
    </ul>
    <div class="navbar__flex" [routerLink]="['/auth']" *ngIf="!isLoggedIn">
      <img
        width="15"
        height="auto"
        src="assets/icons/iconmonstr-user-5.png"
        alt="Ícone de usuário"
      />
      <span>Entrar</span>
    </div>
    <ul class="navbar__nav" *ngIf="isLoggedIn">
      <li><a class="navbar__link" (click)="onLogout()">Sair</a></li>
    </ul>
  </div>
</nav>
