.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    align-items: center;
  }
}
