.container {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.container-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}
