<section class="container">
  <div class="container__buttons">
    <app-properties-filter
      (filters)="onFiltersUpdate($event)"
    ></app-properties-filter>
    <div class="dropdown">
      <button class="dropdown__btn">
        {{ sortingText }}
        <img
          class="dropdown__caret"
          src="assets/icons/iconmonstr-caret-down-filled.png"
        />
      </button>
      <div class="dropdown__content">
        <p class="dropdown__item" (click)="onSetSorting($event, null)">
          Mais recentes
        </p>
        <p class="dropdown__item" (click)="onSetSorting($event, '-price')">
          Maior preço
        </p>
        <p class="dropdown__item" (click)="onSetSorting($event, 'price')">
          Menor preço
        </p>
      </div>
    </div>
  </div>
  <app-property-item
    [property]="property"
    *ngFor="let property of properties"
  ></app-property-item>

  <div class="pagination" *ngIf="properties.length >= 1">
    <a
      class="pagination__link"
      [routerLink]="['/properties', 'search']"
      [queryParams]="{ page: currentPage - 1 }"
      queryParamsHandling="merge"
      *ngIf="currentPage > 1"
      >{{ currentPage - 1 }}</a
    >
    <a class="pagination__link pagination__link--active">{{ currentPage }}</a>
    <a
      class="pagination__link"
      [routerLink]="['/properties', 'search']"
      [queryParams]="{ page: currentPage + 1 }"
      queryParamsHandling="merge"
      *ngIf="currentPage < totalPages"
      >{{ currentPage + 1 }}</a
    >
    <a
      class="pagination__link"
      [routerLink]="['/properties', 'search']"
      [queryParams]="{ page: totalPages }"
      queryParamsHandling="merge"
      *ngIf="currentPage + 1 < totalPages"
      >{{ totalPages }}</a
    >
  </div>
</section>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
