.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: fit-content;
}

.image-gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.image-gallery__selected {
  width: 650px;
  height: 440px;
  border: 3px solid #dfd9d9;
}

@media only screen and (max-width: 768px) {
  .image-gallery__selected {
    width: 100%;
    height: auto;
  }
}
