/* You can add global styles to this file, and also import other style files */
:root {
  --font-primary: black;
  --font-secondary: white;
  --bg-primary: #eeeeee;
  --bg-secondary: #313131;
  --color-primary: #ea1515;
  --color-secondary: #3244e4;
  font-size: 1em;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80%;
  padding: 84px 48px 8px 48px;
}

footer {
  height: 20%;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 76px 8px 8px 8px;
  }
}
