.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-secondary);
  height: 70vh;
  padding: 24px;
}

.header {
  color: var(--color-primary);
  margin: 0;
  font-size: 8rem;
}

.paragraph {
  font-size: 1.2rem;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:focus,
.link:hover,
.link:active {
  text-decoration: underline;
}
