<div>
  <section>
    <app-search-form></app-search-form>
  </section>

  <section class="box">
    <img
      class="box__img"
      src="assets/images/soroush-karimi-Mx5kwvzeGC0-unsplash.jpg"
    />
    <div class="box__info">
      <h1>Procure pela melhor casa para você e sua família</h1>
      <p>
        Navegue por todo o nosso catálogo de imóveis, tanto à venda, quanto para
        aluguel, e encontre a casa dos sonhos para acomodar você e toda a sua
        família.
      </p>
      <button
        class="box__btn box__btn--primary"
        [routerLink]="['/properties', 'search']"
        [queryParams]="{ announceType: 'sale' }"
      >
        Encontre um imóvel para comprar
      </button>
      <button
        class="box__btn box__btn--secondary"
        [routerLink]="['/properties', 'search']"
        [queryParams]="{ announceType: 'rent' }"
      >
        Encontre um imóvel para alugar
      </button>
    </div>
  </section>

  <section class="box box--bg-secondary">
    <div class="box__info">
      <h1>Mostre para os seus pets que você se importa</h1>
      <p>
        Nossos animais significam muito em nossas vidas, então eles também
        merecem ser considerados ao pesquisar por uma nova casa.
      </p>
      <button
        class="box__btn box__btn--tertiary"
        [routerLink]="['/properties', 'search']"
        [queryParams]="{ petAllowed: true }"
      >
        Buscar imóveis que permitam pets
      </button>
    </div>
    <img
      class="box__img"
      src="assets/images/leohoho-yB4ezSdhEgA-unsplash.jpg"
    />
  </section>

  <section class="achievements">
    <div class="achievement">
      <p>Mais de</p>
      <h2>8992</h2>
      <p>imóveis alugados</p>
    </div>
    <div class="achievement">
      <p>Mais de</p>
      <h2>4002</h2>
      <p>imóveis vendidos</p>
    </div>
    <div class="achievement">
      <p>Disponível em</p>
      <h2>{{ totalCities }}</h2>
      <p>cidades</p>
    </div>
  </section>
</div>
