.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-secondary);
  margin: 24px;
  padding: 12px;
}

.box--bg-secondary {
  background-color: var(--color-tertiary);
}

.box__img {
  width: 60%;
  height: auto;
}

.box__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 39%;
  height: 80vh;
  padding: 24px 48px;
  background-color: var(--bg-secondary);
}

.box__info > h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.box__info > p {
  font-size: 0.9rem;
}

.box__btn {
  height: 48px;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
}

.box__btn:focus,
.box__btn:hover,
.box__btn:active {
  opacity: 0.8;
}

.box__btn--primary {
  background-color: var(--color-primary);
  color: var(--bg-secondary);
  border: 2px solid var(--color-primary);
  margin-top: auto;
}

.box__btn--secondary {
  background-color: var(--color-secondary);
  color: var(--bg-secondary);
  border: 2px solid var(--color-secondary);
}

.box__btn--tertiary {
  background-color: var(--color-tertiary);
  color: var(--bg-secondary);
  border: 2px solid var(--color-tertiary);
  margin-top: auto;
}

@media only screen and (max-width: 1024px) {
  .box {
    flex-direction: column;
  }

  .box__img {
    width: 100%;
  }

  .box__info {
    width: 100%;
    height: fit-content;
  }

  .box__btn--primary {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    margin: 8px;
    padding: 8px;
  }

  .box__info {
    padding: 12px 24px;
  }
}
